body {
    display: grid;
    grid-template: 20% 80% / 20% 80%;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.sidebar {
    grid-area: sidebar;

    border: 1px solid green;
}

.header {
    grid-area: header;

    border: 1px solid purple;
}

.content {
    grid-area: content;

    border: 1px solid orange;
}