@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body, .containers, .project-cards, .ann-trend, .welcome {
    display: grid;
}

body {
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

/* Header start */

#header {
    background-color: whitesmoke;
    grid-area: header;
    grid-template: 1fr 1fr / 2fr 1fr;
    box-shadow: 5px 2px 10px 3px grey;
    padding: 2px 10px 2px 10px;
}
/* border to help visualise grid */
/* #header, .search-bar, .user, .welcome, .links {
    border: 2px solid purple;
} */

.search-bar, .user, .links {
    display: flex;
}

.search-bar {
    align-items: center;
    gap: 10px;
    padding: 2px 10px 2px 10px;
}

.find {
    border: 1px solid transparent;
    background-color: transparent;
}

.find:active {
    background-color: lightcyan;
    border: 1px solid gray;
    border-radius: 10px;
}

input {
    border-radius: 10px;
    height: 25px;
    width: 60%;
}

.user {
    align-items: center;
    justify-content: space-evenly;
}

.bell {
    height: 20px;
    width: 20px;
}

.octo-one {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.dd {
    font-size: 22px;
    font-weight: 700;
}

.welcome {
    align-items: center;
    font-weight: 700;
    grid-template: 1fr 1fr / 0.15fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
}

.octo-two {
    grid-area: 1 / 1 / 3 / 2;
}

.welcome > p {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
    padding: 10px 0px 1px 0px;
}

.welcome > h3 {
    font-size: 28px;
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
    padding: 1px 0px 10px 0px;
}

.octo-two {
    border-radius: 100px;
    height: 70px;
    width: 70px;
}

.links {
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.links > button {
    background-color: rgb(191, 217, 226);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    width: 100px;
}

.links > button:active {
    background-color: lightblue;
}

/* Side Bar Start */

#sidebar {
    background-color: lightblue;
    grid-template-rows: 0.97fr 4fr 4fr;
    grid-area: sidebar;
}

#sidebar, .page-title, .user-settings, .user-help {
    border: 2px solid green;
}

#content {
    grid-area: content;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 0.8fr;
    grid-template-areas:
    "project-cards project-cards ann-trend"
    "project-cards project-cards ann-trend"
    "project-cards project-cards ann-trend";
}

.project-cards {
    grid-area: project-cards;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    overflow: auto;
}

.project-cards > h4 {
    grid-area: 1 / 1 / 2 / 4;
}

.card-one:first-child {
    grid-area: 2 / 1 / 3 / 2;
}

.card-one:nth-child(2) {
    grid-area: 2 / 2 / 3 / 3;
}

.card-one:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
}

.card-one:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
}

.card-one:nth-child(5) {
    grid-area: 4 / 1 / 5 / 2;
}

.card-one:last-child {
    grid-area: 4 / 2 / 5 / 3;
}

.ann-trend {
    grid-area: ann-trend;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.ann-card {
    grid-area: 1 / 1 / 2 / 2;
}

.trending-card {
    grid-area: 2 / 1 / 3 / 2;
}

/* #content, .project-cards, .ann-trend, .card {
    border: 3px solid orange;
} */

.card-one {
    width: 380px;
    height: 200px;
}